@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100;200;400;500;700&display=swap");

footer{
    text-align: center;
    color: #b2b7cd;
    font-family: "Chivo Mono", monospace;
    padding: 10px;
}